<script setup lang="ts">
import { type Product } from '@/types/Product';
import { type ReceiptItem } from '@/types/ReceiptItem';
import ProductList from '../ProductList.vue';
import { ref, nextTick } from 'vue';
import {useReceiptStore} from '@/stores/receipt'
import ReceiptDetailTable from './ReceiptDetailTable.vue';
import ReceiptCard from './ReceiptCard.vue';
import MemberCard from './MemberCard.vue';
import { provide } from 'vue';
import ReceiptDialog from './ReceiptDialog.vue';
const dialog = ref(false)
provide('receiptDialog', dialog)
const receiptStore = useReceiptStore()

const product1: Product[] = [
        { id: 1, name: 'Espresso', price: 50, type: 1, },
        { id: 2,name: 'Latte', price: 50, type: 1, },
        { id: 3,name: 'Cappuccino', price: 50, type: 1, },
        { id: 4,name: 'Americano', price: 50, type: 1,  },
        { id: 5,name: 'Mocha', price: 50, type: 1, },
        { id: 6,name: 'Macchiato', price: 50, type: 1, },
        { id: 7,name: 'Flat White', price: 50, type: 1, },
        { id: 8,name: 'coffee', price: 50, type: 1, },
        { id: 9,name: 'coffee', price: 50, type: 1, }
      ]
const product2: Product[] = [
        { id: 21, name: 'เค้กชิฟฟ่อนช็อกโกแลต', price: 50, type: 2, },
        { id: 22,name: 'แซนด์วิช', price: 50, type: 2, },
        { id: 23,name: 'บัตเตอร์เค้ก', price: 50, type: 2, },
        { id: 24,name: 'ขนมปัง', price: 50, type: 2,  },
        { id: 25,name: 'ครัวซองต์', price: 50, type: 2, },
        { id: 26,name: 'คัพเค้ก', price: 50, type: 2, },
        { id: 27,name: 'คุกกี้', price: 50, type: 2, },
        { id: 28,name: 'เค้ก', price: 50, type: 2, },
        { id: 29,name: 'พายสับปะรด', price: 50, type: 2, }
      ]
const product3: Product[] = [
        { id: 1, name: 'Burrito', price: 50, type: 3, },
        { id: 2,name: 'Salad', price: 50, type: 3, },
        { id: 3,name: 'Cake', price: 50, type: 3, },
        { id: 4,name: 'Soup', price: 50, type: 3,  },
        { id: 5,name: 'Fish', price: 50, type: 3, },
        { id: 6,name: 'Pizza', price: 50, type: 3, },
        { id: 7,name: 'Rice', price: 50, type: 3, },
        { id: 8,name: 'Rice', price: 50, type: 3, },
        { id: 9,name: 'Rice', price: 50, type: 3, }
      ]        
const tab = ref(1)
const selected = (p: Product) =>{
  receiptStore.addReceiptItem(p)
  nextTick(() =>{
    if (divReceiptItems.value) divReceiptItems.value.scrollTo(0, divReceiptItems.value.scrollHeight)
  })  
}
const showReceipt = function(){
  receiptStore.showReceiptDialog()
}
const divReceiptItems = ref<HTMLElement | null>(null)

</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6" style="background-color: cornflowerblue">
        <v-container style="padding: 0">
          <v-row>
            <v-col cols="12" style="background-color: darkkhaki">
              <v-sheet width="auto" height="200" elevation="6" class="overflow-auto">
                <ReceiptDetailTable></ReceiptDetailTable>
              </v-sheet>
            </v-col>
            <v-col cols="12" md="6" style="background-color: darkkhaki">
              <v-sheet width="auto" height="200" elevation="6">
                <ReceiptCard></ReceiptCard>
              </v-sheet>
            </v-col>
            <v-col cols="12" md="6" style="background-color: darkkhaki">
              <v-sheet width="auto" height="200" elevation="6">
                <MemberCard></MemberCard>
              </v-sheet>
            </v-col>
            <v-col cols="12" md="6" style="background-color: darkkhaki">
              <v-sheet width="auto" height="200" elevation="6"></v-sheet>
            </v-col>
            <v-col cols="12" md="6" style="background-color: darkkhaki">
              <v-sheet width="auto" height="200" elevation="6"></v-sheet>
            </v-col>
            <v-col cols="12"  style="background-color: darkkhaki">
              <v-sheet width="auto" height="200" elevation="6">
                <v-container>
                  <v-row>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" size="large">cancel</v-btn>
                    </v-col>
                    <v-col cols="12" sm="6">
                      <v-btn block rounded="xl" color="primary" size="large" @click="showReceipt()"
                      >ชำระเงิน</v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-sheet>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="12" md="6" style="background-color: darkkhaki">
        <v-sheet width="auto" height="800" elevation="6">
          <v-tabs v-model="tab" color="deep-purple-accent-4">
            <v-tab :value="1">Drink</v-tab>
            <v-tab :value="2">Bakery</v-tab>
            <v-tab :value="3">Food</v-tab>
          </v-tabs>
          <v-window v-model="tab">
            <v-window-item :value="1">
              <ProductList :products="product1" @selectedProduct="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="2">
              <ProductList :products="product2" @selectedProduct="selected"></ProductList>
            </v-window-item>
            <v-window-item :value="3">
              <ProductList :products="product3" @selectedProduct="selected"></ProductList>
            </v-window-item>
          </v-window>
          
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
  <ReceiptDialog></ReceiptDialog>
</template>