<script setup lang="ts">
import {type Product } from '@/types/Product'
import ProductCard  from './ProductCard.vue';
const props = defineProps<{
    products: Product[]
}>()
const emit = defineEmits<{
    selectedProduct: [Product]
}>()
function selected(p: Product){
    console.log(p)
    emit('selectedProduct',p)

}
</script>
<template>
    <div style="height: 800px; overflow: auto;">
        <v-container>
            <v-row>
                <v-col v-for="item of products" :key="item.id" >
                    <ProductCard :product="item" @selectedProduct="selected"></ProductCard>
                </v-col>
            </v-row>
        </v-container>
    </div>
    

</template>